Repository pharmacome/conib, pull requests merged in 2019-07, with the labels that each got.

#232 Curate karen2011
  hbp_knowledge/er-stress/karen2011.bel
Labels: Task: Curation, Topic: ER Stress

#236 Recurate tau_mitochondria_nestor
  hbp_knowledge/tau/nestor/tau_mitochondria.bel
Labels: Task: Recuration

#222 Recurate ihara2012
  hbp_knowledge/proteostasis/ihara2012.bel
Labels: Task: Recuration, Topic: Proteostasis

#221 Recurate kim2013
  hbp_knowledge/proteostasis/kim2013.bel
Labels: Task: Recuration, Topic: Proteostasis

#203 Recurate zoli2018
  hbp_knowledge/receptors/zoli2018.bel
Labels: Task: Recuration

#205 Recurate valles2011
  hbp_knowledge/receptors/valles2011.bel
Labels: Task: Recuration

#204 Recurate wu2011
  hbp_knowledge/receptors/wu2011.bel
Labels: Task: Recuration

#201 Recurate niforou2014
  hbp_knowledge/proteostasis/niforou2014.bel
Labels: Task: Recuration, Topic: Proteostasis

#198 Recurate taipale2014
  hbp_knowledge/proteostasis/taipale2014.bel
Labels: Task: Recuration, Topic: Proteostasis

#196 Recurate walsh2008
  hbp_knowledge/receptors/walsh2008.bel
Labels: Task: Recuration

#195 Recurate wang2016
  hbp_knowledge/receptors/wang2016.bel
Labels: Task: Recuration

#191 Recurate king2015
  hbp_knowledge/receptors/king2015.bel
Labels: Task: Recuration

#189 Recurate jiang2014
  hbp_knowledge/receptors/jiang2014.bel
Labels: Task: Recuration

#176 Recurate djouma2006
  hbp_knowledge/receptors/djouma2006.bel
Labels: Task: Recuration

#148 Recurate dinopoulou2013
  hbp_knowledge/antalarmin/dinopoulou2013.bel
Labels: Task: Recuration

#164 Recurate buckingham2009
  hbp_knowledge/receptors/buckingham2009.bel
Labels: Task: Recuration

#170 Recurate rauch2018
  hbp_knowledge/tau/rauch2018.bel
Labels: Task: Recuration

#171 Recurate dani2015
  hbp_knowledge/receptors/dani2015.bel
Labels: Task: Recuration

#228 Recurate mufson2008
  hbp_knowledge/receptors/mufson2008.bel
Labels: Task: Recuration

#173 Recurate shi2009
  hbp_knowledge/pp2a/shi2009.bel
Labels: Task: Recuration, Topic: PP2A

#244 Curate Brekk2019
  hbp_knowledge/proteostasis/Brekk2018.bel
Labels: Task: Curation, Topic: Proteostasis

#180 Recurate chung2018
  hbp_knowledge/proteostasis/chung2018.bel
Labels: Task: Recuration, Topic: Proteostasis

#178 Recurate brehme2016
  hbp_knowledge/proteostasis/brehme2016.bel
Labels: Task: Recuration, Topic: Proteostasis

#175 Recurate brehme2014
  hbp_knowledge/proteostasis/brehme2014.bel
Labels: Task: Recuration, Topic: Proteostasis

#167 Recurate changeux2012
  hbp_knowledge/receptors/changeux2012.bel
Labels: Task: Recuration

#174 Recurate seshacharyulu2013
  hbp_knowledge/pp2a/seshacharyulu2013.bel
Labels: Task: Recuration, Topic: PP2A

#242 Curate Pandey2018
  hbp_knowledge/huntington/Pandey2018.bel
Labels: Task: Curation, Topic: Huntington

#219 Recurate kleiger2014
  hbp_knowledge/proteostasis/kleiger2014.bel
Labels: Task: Recuration, Topic: Proteostasis

#249 curate seong2010 new
  hbp_knowledge/huntington/seong2010.bel
Labels: Task: Curation, Topic: Huntington

#264 Recurate wang2009
  hbp_knowledge/anatabine/wang2009.bel
Labels: Task: Recuration, Topic: Anatabine

#262 Recurate rosecrans2017
  hbp_knowledge/anatabine/rosecrans2017.bel
Labels: Task: Recuration, Topic: Anatabine

#260 Recurate paris2013b
  hbp_knowledge/anatabine/paris2013b.bel
Labels: Task: Recuration, Topic: Anatabine

#259 Recurate pais2013
  hbp_knowledge/anatabine/paris2013.bel
Labels: Task: Recuration, Topic: Anatabine

#258 Recurate paris2011
  hbp_knowledge/anatabine/paris2011.bel
Labels: Task: Recuration, Topic: Anatabine

#257 Recurate caturegli2012
  hbp_knowledge/anatabine/caturegli2012.bel
Labels: Task: Recuration, Topic: Anatabine

#256 Recurate ziv2018
  hbp_knowledge/adnp/ziv2018.bel
Labels: Task: Recuration, Topic: ADNP

#251 curate decristo2019 new
  hbp_knowledge/huntington/decristo2019.bel
Labels: Task: Curation, Topic: Huntington

#250 curate uchino2015
  hbp_knowledge/tardbp/uchino2015.bel
Labels: Task: Curation, Topic: TARDBP

#247 Recurate goh2018
  hbp_knowledge/huntington/goh2018.bel
Labels: Task: Recuration

#253 Recurate hacohen-kleiman2018
  hbp_knowledge/adnp/hacohen-kleiman2018.bel
Labels: Task: Recuration, Topic: ADNP

#254 Recurate sragovich2019
  hbp_knowledge/adnp/sragovich2019.bel
Labels: Task: Recuration, Topic: ADNP

#255 Recurate van-dijck2019
  hbp_knowledge/adnp/van-dijck2019.bel
Labels: Task: Recuration, Topic: ADNP

#261 Recurate paris2014
  hbp_knowledge/anatabine/paris2014.bel
Labels: Task: Recuration, Topic: Anatabine

#274 Recurate torrent2012
  hbp_knowledge/pp2a/torrent2012.bel
Labels: Task: Recuration, Topic: PP2A

#276 Recurate uchino2015
  hbp_knowledge/tardbp/uchino2015.bel
Labels: Task: Recuration

#246 Recurate ryskalin2018
  hbp_knowledge/mtor/ryskalin2018.bel
Labels: Task: Recuration

#277 Recurate brekk2018
  hbp_knowledge/proteostasis/Brekk2018.bel
Labels: Task: Recuration, Topic: Proteostasis

#252 Recurate xia2016
  hbp_knowledge/tardbp/xia2016.bel
Labels: Task: Recuration, Topic: TARDBP

#212 Recurate morimoto2015
  hbp_knowledge/proteostasis/morimoto2015.bel
Labels: Task: Recuration, Topic: Proteostasis
