Repository pharmacome/conib, pull requests merged in 2019-03, with the labels that each got.

#113 Curate morsy2018
  hbp_knowledge/morsy2018.bel
Labels: Curation

#112 add curation schweig2017
  hbp_knowledge/schweig2017.bel
Labels: Curation

#110 add curation mirbaha2015
  hbp_knowledge/mirbaha2015.bel
Labels: Curation

#109 curation saidi2015
  hbp_knowledge/saidi2015.bel
Labels: Curation, Mandelkow

#108 curation paris2014
  hbp_knowledge/paris2014.bel
Labels: Curation, Topic: Tau modification

#103 add curation fatouros2012
  hbp_knowledge/fatouros2012.bel
Labels: Curation, Mandelkow

#107 curation hybertson2011
  hbp_knowledge/hybertson2011.bel
Labels: Curation, Topic: Oxidative Stress

#114 curation shi2009
  hbp_knowledge/pp2a/shi2009.bel
Labels: Curation, Topic: PP2A

#115 curation sontag2014
  hbp_knowledge/pp2a/sontag2014.bel
Labels: Curation, Topic: PP2A

#111 add curation mirbaha2018
  hbp_knowledge/tau/mirbaha2018.bel
Labels: Curation

#100 add curation brehme2016
  hbp_knowledge/proteostasis/brehme2016.bel
Labels: Curation, Topic:Proteostasis

#98 Curate niforou2014
  hbp_knowledge/proteostasis/niforou2014.bel
  hbp_knowledge/tau/wang2015.bel
Labels: Curation, Topic:Proteostasis

#117 add curation seshacharyulu2013
  hbp_knowledge/pp2a/seshacharyulu2013.bel
Labels: Curation, Topic: PP2A

#124 curation wang2009
  hbp_knowledge/anatabine/wang2009.bel
Labels: Curation, Topic: Anatabine

#116 curation wang2017
  hbp_knowledge/pp2a/wang2017.bel
Labels: Curation, Topic: PP2A

#120 add curation verma2015
  hbp_knowledge/anatabine/verma2015.bel
Labels: Curation, Topic: Anatabine

#122 curation paris2011
  hbp_knowledge/anatabine/paris2011.bel
Labels: Curation, Topic: Anatabine

#121 add curation caturegli2012
  hbp_knowledge/anatabine/caturegli2012.bel
Labels: Curation, Topic: Anatabine

#125 curation rosecrans2017
  hbp_knowledge/anatabine/rosecrans2017.bel
Labels: Curation, Curation: Chemistry, Topic: Anatabine

#130 curation hacohen-kleiman2018
  hbp_knowledge/adnp/hacohen-kleiman2018.bel
Labels: Curation, Topic: ADNP

#129 curation sragovich2019
  hbp_knowledge/adnp/sragovich2019.bel
Labels: Curation, Topic: ADNP

#128 curation ziv2018
  hbp_knowledge/adnp/ziv2018.bel
Labels: Curation, Topic: ADNP

#127 Curate van-dijck2019
  hbp_knowledge/adnp/van-dijck2019.bel
Labels: Curation, Topic: ADNP
